# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Experiments / outputs
results/
outputs/
*.csv

# Logs
*.log

# Ignore all heavy data
data/

# Ignore large file types
*.pdf
*.gif
*.png
*.pkl

data/artifacts/PF_jpetstore_original.json
src/experiments/sensitivity/data/PF_old.json